[package]
name = "restate-worker"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = [
  "dep:schemars",
  "restate-ingress-http/options_schema",
  "restate-ingress-kafka/options_schema",
  "restate-invoker-impl/options_schema",
  "restate-partition-store/options_schema",
  "restate-storage-query-datafusion/options_schema",
  "restate-storage-query-postgres/options_schema",
  "restate-timer/options_schema",
]

[dependencies]
restate-bifrost = { workspace = true }
restate-core = { workspace = true }
restate-errors = { workspace = true }
restate-ingress-dispatcher = { workspace = true }
restate-ingress-http = { workspace = true }
restate-ingress-kafka = { workspace = true }
restate-invoker-api = { workspace = true }
restate-invoker-impl = { workspace = true }
restate-metadata-store = { workspace = true }
restate-partition-store = { workspace = true }
restate-rocksdb = { workspace = true }
restate-serde-util = { workspace = true, features = ["proto"] }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["codec", "awakeable-id", "message"] }
restate-storage-api = { workspace = true }
restate-storage-query-datafusion = { workspace = true }
restate-storage-query-postgres = { workspace = true }
restate-timer = { workspace = true }
restate-types = { workspace = true }
restate-wal-protocol = { workspace = true }

anyhow = { workspace = true }
assert2 = { workspace = true }
async-channel = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
codederror = { workspace = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
futures = { workspace = true }
humantime = { workspace = true }
itertools = { workspace = true }
metrics = { workspace = true }
opentelemetry = { workspace = true }
pin-project = { workspace = true }
rand = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tracing = { workspace = true }
tracing-opentelemetry = { workspace = true }

[dev-dependencies]
restate-bifrost = { workspace = true, features = ["test-util"] }
restate-core = { workspace = true, features = ["test-util"] }
restate-invoker-api = { workspace = true, features = ["test-util"] }
restate-rocksdb = { workspace = true, features = ["test-util"] }
restate-service-protocol = { workspace = true, features = ["test-util"] }
restate-storage-api = { workspace = true, features = ["test-util"] }
restate-test-util = { workspace = true, features = ["prost"] }
restate-types = { workspace = true, features = ["test-util"] }
prost = { workspace = true }

googletest = { workspace = true }
tempfile = { workspace = true }
test-log = { workspace = true }
tracing-subscriber = { workspace = true }
