replicaCount: 3

env:
  - name: RESTATE_LOG_FORMAT
    value: json
  - name: RESTATE_CLUSTER_NAME
    value: helm-replicated
  - name: RESTATE_METADATA_CLIENT__ADDRESSES
    value: '["http://restate:5122"]'
  - name: RESTATE_METADATA_SERVER__TYPE
    value: "replicated"
  - name: RESTATE_AUTO_PROVISION
    # provision with `kubectl exec -it restate-0 -- restatectl provision --log-provider replicated --log-replication 2 --yes`
    value: "false"
