[package]
name = "restate-storage-query-postgres"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = ["dep:schemars"]

[dependencies]
restate-core = { workspace = true }
restate-errors = { workspace = true }
restate-partition-store = {workspace = true }
restate-storage-api = {workspace = true}
restate-storage-query-datafusion = {workspace = true }
restate-types = { workspace = true }


anyhow = { workspace = true }
async-trait = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
chrono = { workspace = true }
codederror = { workspace = true }
datafusion = { workspace = true }
derive_builder = { workspace = true }
futures = { workspace = true }
paste = { workspace = true}
pgwire = {version = "0.23", default-features = false, features = ["server-api-ring"]}
prost-0-12 = {workspace = true}
schemars = { workspace = true, optional = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }
