[package]
name = "restate-storage-query-postgres"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = ["dep:schemars"]

[dependencies]
restate-errors = { workspace = true }
restate-storage-api = {workspace = true}
restate-storage-proto = {workspace = true }
restate-storage-query-datafusion = {workspace = true }
restate-storage-rocksdb = {workspace = true }
restate-task-center = { workspace = true }
restate-types = { workspace = true }


anyhow = { workspace = true }
async-trait = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
chrono = { workspace = true }
codederror = { workspace = true }
datafusion = { workspace = true }
datafusion-expr = { workspace = true }
derive_builder = { workspace = true }
drain = { workspace = true }
futures = { workspace = true }
paste = { workspace = true}
pgwire = "0.15"
prost = {workspace = true}
schemars = { workspace = true, optional = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
uuid = { workspace = true }
