[package]
name = "mock-service-endpoint"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
restate-workspace-hack = { workspace = true }

restate-service-protocol-v4 = { workspace = true, features = ["message-codec", "entry-codec"] }
restate-types = { workspace = true }

assert2 = { workspace = true }
async-stream = "0.3.5"
bytes = { workspace = true }
futures = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true, features = ["server"] }
hyper-util = { workspace = true, features = ["full"] }
prost = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
thiserror = { workspace = true }

[lib]
path = "src/lib.rs"
