[package]
name = "mock-service-endpoint"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
assert2 = { workspace = true }
async-stream = "0.3.5"
bytes = { workspace = true }
futures = { workspace = true }
http = {workspace = true}
http-body-util = "0.1"
hyper = { version = "1", features = ["server"] }
hyper-util = { version = "0.1", features = ["full"] }
restate-service-protocol = { workspace = true, features = ["message", "codec"] }
restate-types = { workspace = true }
prost = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
thiserror = { workspace = true }
