[workspace]
members = [
    "src/*",
    "src/codederror/impl",
    "tools/xtask",
    "tools/service_protocol_wireshark_dissector"
]
default-members = [ "src/*", "src/codederror/impl" ]

[workspace.package]
version = "0.1.4"
authors = ["restate.dev"]
edition = "2021"
rust-version = "1.66"
license = "BUSL-1.1"
repository = "https://github.com/restatedev/restate"
description = "Restate makes distributed applications easy!"

[workspace.dependencies]
anyhow = "1.0.68"
arc-swap = "1.6"
assert2 = "0.3.11"
base64 = "0.21"
bytes = { version = "1.3", features = ["serde"] }
bytestring = { version = "1.2", features = ["serde"] }
bytes-utils = "0.1.3"
futures = "0.3.25"
futures-sink = "0.3.25"
futures-util = "0.3.25"
drain = "0.1.1"
hyper = { version = "0.14.24", default-features = false }
hyper-rustls = { version = "0.23.2", features = ["http2"] }
humantime = "2.1.0"
paste = "1.0"
pin-project = "1.0"
prost = "0.11"
prost-types = "0.11"
prost-reflect = "0.11.1"
prost-build = "0.11"
rocksdb = "0.21.0"
schemars = { version = "0.8", features = ["bytes"] }
serde = { version = "1.0", features = ["derive"] }
serde_with = "2.2"
serde_json = "1.0"
thiserror = "1.0"
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
tokio = { version = "1.24", features = ["rt-multi-thread", "signal", "macros"] }
tokio-stream = "0.1.11"
tonic = { version = "0.9.2", default-features = false }
tonic-build = "0.9.2"
tower = "0.4"
opentelemetry_api = { version = "0.18" }
opentelemetry = { version = "0.18" }
opentelemetry-http = { version = "0.7" }
tracing-opentelemetry = { version = "0.18" }
uuid = { version = "1.3.0", features = ["v7", "serde"] }

# Own crates
codederror = { path = "src/codederror" }
restate = { path = "src/restate" }
restate_cli = { path = "src/cli" }
restate_common = { path = "src/common" }
restate_consensus = { path = "src/consensus" }
restate_errors = { path = "src/errors" }
restate_fs_util = { path = "src/fs_util" }
restate_futures_util = { path = "src/futures_util" }
restate_hyper_util = { path = "src/hyper_util" }
restate_ingress_grpc = { path = "src/ingress_grpc" }
restate_queue = { path = "src/queue"}
restate_invoker = { path = "src/invoker" }
restate_journal = { path = "src/journal" }
restate_meta = { path = "src/meta" }
restate_network = { path = "src/network" }
restate_serde_util = { path = "src/serde_util" }
restate_service_key_extractor = { path = "src/service_key_extractor" }
restate_service_metadata = { path = "src/service_metadata" }
restate_service_protocol = { path = "src/service_protocol" }
restate_storage_api = {path = "src/storage_api"}
restate_storage_grpc = {path = "src/storage_grpc"}
restate_storage_proto = {path = "src/storage_proto"}
restate_storage_rocksdb = { path = "src/storage_rocksdb" }
restate_test_util = { path = "src/test_util" }
restate_timer = { path = "src/timer" }
restate_timer_queue = { path = "src/timer_queue" }
restate_tracing_instrumentation = { path = "src/tracing_instrumentation" }
restate_worker = { path = "src/worker" }

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
# Let's be defensive and abort on every panic
panic = "abort"

[profile.dev]
# Let's be defensive and abort on every panic
panic = "abort"

[profile.release.package.service_protocol_wireshark_dissector]
opt-level = "z"  # Optimize for size.
strip = true  # Automatically strip symbols from the binary.