cargo-features = ["profile-rustflags"]

[workspace]
members = [
    "src/*"]

[workspace.package]
version = "0.1.0"
authors = ["restate.dev"]
edition = "2021"
rust-version = "1.66"
license = "BUSL-1.1"
repository = "https://github.com/restatedev/restate"
description = "Restate makes distributed applications easy!"

[workspace.dependencies]
anyhow = "1.0.68"
bytes = "1.3"
clap = { version = "4.0", features = ["derive", "env"] }
futures = "0.3.25"
futures-sink = "0.3.25"
futures-util = "0.3.25"
drain = "0.1.1"
serde = "1.0"
thiserror = "1.0"
tracing = "0.1"
tokio = { version = "1.24", features = ["rt-multi-thread", "signal", "macros"] }
tokio-stream = "0.1.11"
tokio-util = "0.7.4"
uuid = { version = "1.3.0", features = ["v7"] }

# Own crates
config = { path = "src/config" }
common = { path = "src/common" }
consensus = { path = "src/consensus" }
invoker = { path = "src/invoker" }
meta = { path = "src/meta" }
network = { path = "src/network" }
protocol = { path = "src/protocol" }
storage_api = {path = "src/storage_api"}
storage_rocksdb = { path = "src/storage_rocksdb" }
tracing_instrumentation = { path = "src/tracing_instrumentation" }
worker = { path = "src/worker" }

[profile.release]
opt-level = 3
lto = "thin"
codegen-units = 1
# Let's be defensive and abort on every panic
panic = "abort"

[profile.dev]
# Let's be defensive and abort on every panic
panic = "abort"

