[package]
name = "restate-storage-query-http"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = []

[dependencies]
restate-errors = { workspace = true }
restate-schema-api = { workspace = true, features = [ "service", "endpoint", "serde", "serde_schema", ] }
restate-storage-query-datafusion = { workspace = true }
restate-worker-api = { workspace = true }

axum = "0.6.18"
base64 = { workspace = true }
bytes = { workspace = true }
codederror = { workspace = true }
datafusion = { workspace = true }
derive_builder = { workspace = true }
drain = { workspace = true }
futures = { workspace = true }
hyper = { workspace = true, features = ["full"] }
okapi-operation = { version = "0.2.1", features = ["axum-integration"] }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }
tower = { workspace = true, features = ["load-shed", "limit"] }
tracing = { workspace = true }
