[package]
name = "restate-object-store-util"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
restate-workspace-hack = { workspace = true }

restate-types = { workspace = true }

anyhow = { workspace = true }
aws-config = { workspace = true }
aws-credential-types = { workspace = true }
aws-smithy-runtime-api = { workspace = true }
aws-smithy-types = { workspace = true }
aws-smithy-async = { workspace = true }
futures = { workspace = true }
object_store = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }
