[package]
name = "service_protocol"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
protocol = []
message = ["protocol", "dep:bytes-utils"]
codec = ["protocol", "dep:thiserror", "dep:journal", "dep:paste"]
discovery = ["dep:thiserror", "dep:service_key_extractor", "dep:hyper", "dep:hyper-rustls", "dep:prost-reflect", "dep:common"]

[dependencies]
bytes = { workspace = true }
bytes-utils = { workspace = true, optional = true }
prost = { workspace = true }
prost-types = { workspace = true }

thiserror = { workspace = true, optional = true }

paste = { workspace = true, optional = true }
journal = { workspace = true, optional = true }

service_key_extractor = { workspace = true, optional = true }
hyper = { workspace = true, features = ["http1", "http2", "client", "tcp", "runtime"], optional = true }
hyper-rustls = { workspace = true, optional = true }
common = { workspace = true, optional = true }
prost-reflect = { workspace = true, optional = true }

[dev-dependencies]
test_utils = { workspace = true }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
tokio = { workspace = true }
uuid = { workspace = true }

[build-dependencies]
prost-build = { workspace = true }
