[package]
name = "restate-invoker-impl"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = ["dep:schemars", "restate-types/serde_schema"]

[dependencies]
restate-errors = { workspace = true }
restate-fs-util = { workspace = true }
restate-futures-util = { workspace = true }
restate-invoker-api = { workspace = true }
restate-queue = { workspace = true }
restate-schema-api = { workspace = true, features = ["deployment"] }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["message"] }
restate-timer-queue = { workspace = true }
restate-types = { workspace = true, features = ["serde"] }

anyhow = { workspace = true }
bytes = { workspace = true }
codederror = { workspace = true }
derive_builder = { workspace = true }
drain = { workspace = true }
futures = { workspace = true }
h2 = { version = "0.3.20" }
humantime = { workspace = true }
hyper = { version = "1.1.0", features = [] }
http = "1.0.0"
http-body = "1.0.0"
http-body-util = "0.1.0"
itertools = { workspace = true }
opentelemetry = { workspace = true }
opentelemetry-http = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tracing = { workspace = true }
tracing-opentelemetry = { workspace = true }

[dev-dependencies]
restate-invoker-api = { workspace = true, features = ["mocks"] }
restate-schema-api = { workspace = true, features = ["mocks"] }
restate-service-protocol = { workspace = true, features = ["codec"] }
restate-test-util = { workspace = true }
restate-types = { workspace = true }

googletest = { workspace = true }
prost = { workspace = true }
tempfile = { workspace = true }
tracing-subscriber = { workspace = true }
uuid = { workspace = true }
