[package]
name = "service_protocol_wireshark_dissector"
version = "0.0.0"
edition = "2021"
publish = false

[lib]
crate-type = ["cdylib"]

[features]
default = ["lua51"]

lua54 = ["mlua/lua54"]
lua53 = ["mlua/lua53"]
lua52 = ["mlua/lua52"]
lua51 = ["mlua/lua51"]
luajit = ["mlua/luajit"]

[dependencies]
# Dependencies needed to decode packets
service_protocol = { path = "../service_protocol" }
journal = { path = "../journal" }
tracing = "0.1"
bytes = "1.4"
bytes-utils = "0.1"
prost = "0.11"
thiserror = "1.0"

# Lua
mlua = { version = "0.8", features = ["module", "macros", "vendored"] }

[profile.release]
opt-level = "z"  # Optimize for size.
strip = true  # Automatically strip symbols from the binary.