[package]
name = "restate-local-cluster-runner"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []

[dependencies]
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

restate-core = { workspace = true }
restate-metadata-store = { workspace = true }
# nb features here will also affect the compiled restate-server binary in integration tests
restate-types = { workspace = true, features = ["unsafe-mutable-config"] }

anyhow = { workspace = true }
arc-swap = { workspace = true }
clap = { workspace = true }
clap-verbosity-flag = { workspace = true }
futures = { workspace = true }
enumset = { workspace = true }
http = { workspace = true }
itertools = { workspace = true }
nix = { version = "0.29.0", features = ["signal"] }
rand = { workspace = true }
regex = "1.1"
reqwest = { workspace = true }
rev_lines = "0.3.0"
rlimit = { workspace = true }
serde = { workspace = true }
tempfile = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, features = ["process", "fs"] }
tonic = { workspace = true }
toml = "0.8"
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
typed-builder = "0.20.0"
test_bin = "0.4.0"
