[package]
name = "restate-node"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
all-metadata-providers = [
    "restate-metadata-providers/replicated",
    "restate-metadata-providers/etcd",
    "restate-metadata-providers/objstore",
    "restate-metadata-providers/dynamodb",
]

memory-loglet = ["restate-bifrost/memory-loglet"]
options_schema = [
    "dep:schemars",
    "restate-admin/options_schema",
    "restate-worker/options_schema"
]
kafka-oidc = ["restate-worker/kafka-oidc"]

[dependencies]
restate-workspace-hack = { workspace = true }

restate-admin = { workspace = true }
restate-bifrost = { workspace = true, features = ["local-loglet", "replicated-loglet"] }
restate-core = { workspace = true }
restate-futures-util = { workspace = true }
restate-ingestion-client = { workspace = true }
restate-ingress-http = { workspace = true }
restate-log-server = { workspace = true }
restate-metadata-providers = { workspace = true }
restate-metadata-server = { workspace = true }
restate-metadata-server-grpc = { workspace = true, features = ["grpc-client"] }
restate-metadata-store = { workspace = true, features = ["grpc-server"] }
restate-partition-store = { workspace = true }
restate-rocksdb = { workspace = true }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["discovery"] }
restate-storage-query-datafusion = { workspace = true }
restate-tracing-instrumentation = { workspace = true, features = ["prometheus"] }
restate-types = { workspace = true, features = ["clap"] }
restate-wal-protocol = { workspace = true }
restate-worker = { workspace = true }

ahash = { workspace = true }
anyhow = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true }
bytes = { workspace = true }
codederror = { workspace = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
enumset = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
indexmap = { workspace = true }
itertools = { workspace = true }
metrics = { workspace = true }
metrics-exporter-prometheus = { workspace = true }
prost-dto = { workspace = true }
rand = { workspace = true }
rocksdb = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tonic = { workspace = true, features = ["gzip", "zstd"] }
tracing = { workspace = true }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemalloc_pprof = "0.8.1"

[dev-dependencies]
restate-core = { workspace = true, features = ["test-util"] }

googletest = { workspace = true }
tempfile = { workspace = true }
test-log = { workspace = true }
tracing-subscriber = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
