[package]
name = "restate-node"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
memory-loglet = ["restate-bifrost/memory-loglet", "restate-admin/memory-loglet"]
replicated-loglet = ["restate-bifrost/replicated-loglet", "restate-admin/replicated-loglet"]
options_schema = [
    "dep:schemars",
    "restate-admin/options_schema",
    "restate-worker/options_schema",
    "restate-metadata-store/options_schema"]

[dependencies]
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

restate-admin = { workspace = true }
restate-bifrost = { workspace = true }
restate-core = { workspace = true }
restate-errors = { workspace = true }
restate-ingress-http = { workspace = true }
restate-log-server = { workspace = true }
restate-metadata-store = { workspace = true }
restate-rocksdb = { workspace = true }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["discovery"] }
restate-storage-query-datafusion = { workspace = true }
restate-tracing-instrumentation = { workspace = true }
restate-types = { workspace = true, features = ["clap"] }
restate-worker = { workspace = true }

anyhow = { workspace = true }
arc-swap = { workspace = true }
async-trait = { workspace = true }
axum = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
codederror = { workspace = true }
datafusion = { workspace = true }
derive_builder = { workspace = true }
enum-map = { workspace = true }
enumset = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
humantime = { workspace = true }
hyper = { workspace = true, features = ["full"] }
hyper-util = { workspace = true }
metrics = { workspace = true }
metrics-exporter-prometheus = { workspace = true }
metrics-tracing-context = { workspace = true }
metrics-util = { workspace = true }
prost-dto = { workspace = true }
prost-types = { workspace = true }
rocksdb = { workspace = true }
schemars = { workspace = true, optional = true }
semver = {  version = "1.0", features = ["serde"] }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tokio-util = { workspace = true }
tonic = { workspace = true }
tonic-reflection = { workspace = true }
tower = { workspace = true }
tower-http = { workspace = true, features = ["trace"] }
tracing = { workspace = true }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
jemalloc_pprof = "0.6.0"

[dev-dependencies]
restate-test-util = { workspace = true }

tempfile = { workspace = true }

googletest = { workspace = true }
tracing-subscriber = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
