[package]
name = "restate-timer-queue"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

futures = { workspace = true }
tokio = { workspace = true }
