[package]
name = "restate-server"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false
description.workspace = true
build = "build.rs"

[features]
default = []
console = [
    "tokio/full",
    "tokio/tracing",
    "restate-tracing-instrumentation/console-subscriber",
]
options_schema = [
    "dep:schemars",
    "restate-core/clap",
    "restate-core/options_schema",
    "restate-node/options_schema",
    "restate-tracing-instrumentation/options_schema",
]

[dependencies]
restate-admin = { workspace = true }
restate-bifrost = { workspace = true }
restate-core = { workspace = true }
restate-errors = { workspace = true, features = ["include_doc"] }
restate-fs-util = { workspace = true }
restate-meta = { workspace = true }
restate-node = { workspace = true }
restate-storage-rocksdb = { workspace = true }
restate-tracing-instrumentation = { workspace = true, features = ["rt-tokio"] }
restate-types = { workspace = true }
restate-worker = { workspace = true }

arc-swap = { workspace = true }
clap = { workspace = true, features = ["derive", "env", "color", "help", "wrap_help", "usage", "suggestions", "error-context", "std"] }
codederror = { workspace = true }
derive_builder = { workspace = true }
drain = { workspace = true }
enumset = { workspace = true }
futures-util = { workspace = true }
humantime = { workspace = true }
pin-project = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_with = { workspace = true }
serde_yaml = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
toml = { version = "0.8.12" }
tracing = { workspace = true }
tracing-panic = { version = "0.1.1" }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { workspace = true, features = ["unprefixed_malloc_on_supported_platforms"] }

[build-dependencies]
vergen = { version = "8.0.0", default-features = false, features = [
    "build",
    "git",
    "gitcl",
    "cargo",
] }
