[package]
name = "restate-server"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false
description.workspace = true
build = "build.rs"

[features]
default = ["replicated-loglet"]
console = [
    "tokio/full",
    "tokio/tracing",
    "restate-tracing-instrumentation/console-subscriber",
]
options_schema = [
    "dep:schemars",
    "restate-core/options_schema",
    "restate-node/options_schema",
    "restate-tracing-instrumentation/options_schema",
    "restate-types/schemars",
]
memory-loglet = ["restate-node/memory-loglet", "restate-admin/memory-loglet"]
replicated-loglet = ["restate-node/replicated-loglet", "restate-admin/replicated-loglet"]
crate_per_service = ["restate-tracing-instrumentation/service_per_crate"]
no-trace-logging = ["tracing/max_level_debug", "tracing/release_max_level_debug"]

[dependencies]
restate-admin = { workspace = true }
restate-bifrost = { workspace = true }
restate-core = { workspace = true }
restate-errors = { workspace = true }
restate-fs-util = { workspace = true }
restate-node = { workspace = true }
restate-rocksdb = { workspace = true }
restate-tracing-instrumentation = { workspace = true, features = ["rt-tokio"] }
restate-types = { workspace = true, features = ["clap"] }
restate-worker = { workspace = true }

arc-swap = { workspace = true }
clap = { workspace = true, features = ["derive", "env", "color", "help", "wrap_help", "usage", "suggestions", "error-context", "std"] }
codederror = { workspace = true }
derive_builder = { workspace = true }
enumset = { workspace = true }
futures-util = { workspace = true }
humantime = { workspace = true }
pin-project = { workspace = true }
rlimit = { workspace = true }
rocksdb = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-util = { workspace = true }
toml = { version = "0.8.12" }
tracing = { workspace = true }
tracing-panic = { version = "0.1.2" }
regex = "1.10.4"
url = { version = "2.5.4", features = [] }
workspace-hack = { version = "0.1", path = "../workspace-hack" }

[dev-dependencies]
restate-admin = { workspace = true, features = ["memory-loglet", "clients"] }
restate-bifrost = { workspace = true, features = ["test-util"] }
restate-core = { workspace = true, features = ["test-util"] }
restate-local-cluster-runner = { workspace = true }
restate-test-util = { workspace = true }
restate-types = { workspace = true, features = ["test-util"] }

anyhow = { workspace = true }
async-trait = { workspace = true }
bytes = { workspace = true }
googletest = { workspace = true }
hyper-util = { workspace = true }
tempfile = { workspace = true }
test-log = { workspace = true }
tonic = { workspace = true, features = ["transport", "prost"] }
tower = { workspace = true }
tracing-subscriber = { workspace = true }
url = { workspace = true }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
tikv-jemallocator = { workspace = true, features = ["unprefixed_malloc_on_supported_platforms", "profiling"] }

[build-dependencies]
vergen = { version = "8.0.0", default-features = false, features = [
    "build",
    "git",
    "gitcl",
    "cargo",
] }
