[package]
name = "service-protocol-wireshark-dissector"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[lib]
crate-type = ["cdylib"]

[features]
default = ["lua51"]

lua54 = ["mlua/lua54"]
lua53 = ["mlua/lua53"]
lua52 = ["mlua/lua52"]
lua51 = ["mlua/lua51"]
luajit = ["mlua/luajit"]

[dependencies]
# Dependencies needed to decode packets
restate-service-protocol = { workspace = true, features = ["codec", "message"] }
restate-types = { workspace = true }

bytes = { workspace = true }
thiserror = { workspace = true }

# Lua
mlua = { version = "0.9.9", features = ["module", "macros"] }
