[package]
name = "restate-admin"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = ["replicated-loglet", "serve-web-ui"]
clients = []
options_schema = ["restate-service-client/options_schema"]
memory-loglet = ["restate-bifrost/memory-loglet"]
replicated-loglet = ["restate-bifrost/replicated-loglet"]
serve-web-ui = ["restate-web-ui", "mime_guess"]

[dependencies]
restate-admin-rest-model = { workspace = true, features = ["schema"] }
restate-bifrost = { workspace = true }
restate-core = { workspace = true }
restate-errors = { workspace = true }
restate-fs-util = { workspace = true }
restate-futures-util = { workspace = true }
restate-metadata-store = { workspace = true }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["discovery"] }
restate-storage-query-datafusion = { workspace = true }
restate-types = { workspace = true, features = ["schemars"] }
restate-wal-protocol = { workspace = true }
restate-web-ui = { workspace = true, optional = true }

anyhow = { workspace = true }
arc-swap = { workspace = true }
axum = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
codederror = { workspace = true }
datafusion = { workspace = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
enumset = { workspace = true }
futures = { workspace = true }
http = { workspace = true }
http-body = { workspace = true }
http-body-util = { workspace = true }
hyper-util = { workspace = true }
jsonschema = { workspace = true }
itertools = { workspace = true }
mime_guess = { version = "2.0.5", optional = true }
okapi-operation = { version = "0.3.0-rc2", features = ["axum-integration"] }
parking_lot = { workspace = true }
prost = { workspace = true }
prost-dto = { workspace = true }
prost-types = { workspace = true }
rand = { workspace = true }
restate-serde-util = { workspace = true, features = ["schema"] }
schemars = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true, features = ["transport", "codegen", "prost", "gzip"] }
tower = { workspace = true, features = ["load-shed", "limit"] }
tracing = { workspace = true }
xxhash-rust = { workspace = true }

[build-dependencies]
tonic-build = { workspace = true }

[dev-dependencies]
restate-bifrost = { workspace = true, features = ["test-util"] }
restate-core = { workspace = true, features = ["test-util"] }
restate-test-util = { workspace = true }
restate-types = { workspace = true, features = ["test-util"] }

googletest = { workspace = true }
tempfile = { workspace = true }
test-log = { workspace = true }
tokio-stream = { workspace = true, features = ["net"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true }
