[package]
name = "restate-storage-rocksdb"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = ["dep:schemars"]

[dependencies]
restate-errors = { workspace = true }
restate-storage-api = { workspace = true }
restate-storage-proto = { workspace = true, features = ["conversion"] }
restate-types = { workspace = true }

anyhow = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
codederror = { workspace = true }
derive_builder = { workspace = true }
drain = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
paste = { workspace = true }
prost = { workspace = true }
rocksdb = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
sync_wrapper = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
once_cell = "1.18.0"
log = "0.4.20"

[dev-dependencies]
restate-test-util = { workspace = true }
restate-types = { workspace = true, features = ["mocks", "test-utils"] }

criterion = { workspace = true, features = ["async_tokio"] }
num-bigint = "0.4"
rand = { workspace = true }
tempfile = { workspace = true }

[[bench]]
name = "basic_benchmark"
harness = false
