[package]
name = "restate-rocksdb"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
test-util = ["restate-types/test-util"]

[dependencies]
restate-core = { workspace = true }
restate-errors = { workspace = true }
restate-serde-util = { workspace = true }
restate-types = { workspace = true }

anyhow = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
codederror = { workspace = true }
derive-getters = { workspace = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
metrics = {workspace = true }
once_cell = { workspace = true }
parking_lot = { workspace = true }
threadpool = { version = "1.8" }
#rayon = { workspace = true }
rocksdb = { workspace = true }
smartstring = { workspace = true }
static_assertions = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
restate-test-util = { workspace = true }
restate-types = { workspace = true, features = ["test-util"] }
