[package]
name = "restate-rocksdb"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []

[dependencies]
restate-errors = { workspace = true }
restate-types = { workspace = true }
restate-core = { workspace = true }

anyhow = { workspace = true }
bytes = { workspace = true }
bytesize = { workspace = true }
bytestring = { workspace = true }
codederror = { workspace = true }
dashmap = { workspace = true }
derive_more = { workspace = true }
futures = { workspace = true }
futures-util = { workspace = true }
once_cell = { workspace = true }
rocksdb = { workspace = true }
static_assertions = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
restate-test-util = { workspace = true }
restate-types = { workspace = true, features = ["test-util"] }
