[package]
name = "restate-rocksdb"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
test-util = ["restate-types/test-util"]

[dependencies]
restate-workspace-hack = { workspace = true }

restate-core = { workspace = true }
restate-errors = { workspace = true }
restate-serde-util = { workspace = true }
restate-types = { workspace = true }

anyhow = { workspace = true }
bytes = { workspace = true }
codederror = { workspace = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
metrics = {workspace = true }
parking_lot = { workspace = true }
rocksdb = { workspace = true }
smartstring = { workspace = true }
static_assertions = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
threadpool = { version = "1.8" }
tokio = { workspace = true }
tokio-util = { workspace = true }
tracing = { workspace = true }

[target.'cfg(not(target_env = "msvc"))'.dependencies]
# rocksdb = { workspace = true } brings this in implicitly, but we want to ensure it uses the workspace features
tikv-jemalloc-sys = { workspace = true }

[dev-dependencies]
restate-test-util = { workspace = true }
restate-types = { workspace = true, features = ["test-util"] }
