[package]
name = "restate-types"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []

schemars = ["dep:schemars", "restate-serde-util/schema"]
test-util = ["dep:tempfile"]

[dependencies]
restate-base64-util = { workspace = true }
restate-serde-util = { workspace = true }

anyhow = { workspace = true }
arc-swap = { workspace = true }
base62 = { version = "2.0.2" }
base64 = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
clap = { workspace = true, features = ["std", "derive", "env"], optional = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
enum-map = { workspace = true }
enumset = { workspace = true, features = ["serde"] }
flexbuffers = { workspace = true }
hostname = { workspace = true }
http = { workspace = true }
humantime = { workspace = true }
num-traits = { version = "0.2.17" }
once_cell = { workspace = true }
opentelemetry = { workspace = true }
rand = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true, features = ["rc"] }
serde_with = { workspace = true }
sha2 = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
sync_wrapper = { workspace = true }
tempfile = { workspace = true, optional = true }
thiserror = { workspace = true }
tiny-gradient = { version = "0.1.0" }
tokio = { workspace = true, default-features = false, features = ["time", "sync"]}
toml = { version = "0.8.12" }
tracing = { workspace = true }
tracing-opentelemetry = { workspace = true }
ulid = { workspace = true }
xxhash-rust = { version = "0.8", features = ["xxh3"] }

[dev-dependencies]
restate-test-util = { workspace = true }
tempfile = { workspace = true }

googletest = { workspace = true }
rand = { workspace = true }
test-log = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
