[package]
name = "restate-types"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
schemars = ["dep:schemars", "restate-serde-util/schema", "restate-time-util/schema"]
unsafe-mutable-config = []
# Enables the tokio console subscriber and exposes its configuration
console = []
test-util = ["unsafe-mutable-config", "dep:tempfile", "dep:restate-test-util"]
# Runs every partition in a separate rocksdb database
# Note: this is currently backwards-incompatible with the production builds.
multi-db = []

[dependencies]
restate-workspace-hack = { workspace = true }

restate-base64-util = { workspace = true }
restate-encoding = { workspace = true }
restate-errors = { workspace = true }
restate-serde-util = { workspace = true }
restate-test-util = { workspace = true, optional = true }
restate-time-util = { workspace = true, features = ["serde", "serde_with"] }
restate-utoipa = { workspace = true }

ahash = {workspace = true }
anyhow = { workspace = true }
arc-swap = { workspace = true }
base62 = { version = "2.2.2" }
base64 = { workspace = true }
bitflags = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
bilrost = { workspace = true, features = ["bytestring"] }
bincode = { workspace = true, default-features = false, features = ["std", "serde"] }
chrono = { workspace = true }
clap = { workspace = true, features = ["std", "derive", "env"], optional = true }
codederror = { workspace = true }
dashmap = { workspace = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
downcast-rs = { workspace = true }
dyn-clone = { version = "1.0" }
enum-map = { workspace = true }
enum_dispatch = "0.3.13"
enumset = { workspace = true, features = ["serde"] }
figment = { version = "0.10.8", features = ["env", "toml"] }
flexbuffers = { workspace = true }
futures = { workspace = true }
gardal = { workspace = true }
generic-array = { version = "1.2.0" }
hostname = { workspace = true }
http = { workspace = true }
humantime = { workspace = true }
indexmap = { workspace = true, features = ["serde"] }
itertools = { workspace = true }
jiff = { workspace = true }
jsonschema = { workspace = true }
listenfd = { version = "1" }
metrics = { workspace = true }
moka = { workspace = true, features = ["sync", "logging"] }
notify = { version = "8.0.0" }
notify-debouncer-full = { version = "0.5" }
num-traits = { workspace = true }
opentelemetry = { workspace = true , features = ["trace"]}
parking_lot = { workspace = true }
paste = { workspace = true }
prost = { workspace = true }
prost-dto = { workspace = true }
prost-types = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
regress = { workspace = true }
schemars = { workspace = true, optional = true }
semver = { workspace = true }
serde = { workspace = true, features = ["rc"] }
serde_json = { workspace = true }
serde_path_to_error = { version = "0.1" }
serde_with = { workspace = true, features = ["json"] }
sha2 = { workspace = true }
smallvec = { workspace = true }
smartstring = { workspace = true, features = ["serde"]}
static_assertions = { workspace = true }
strum = { workspace = true }
sync_wrapper = { workspace = true }
tempfile = { workspace = true, optional = true }
thiserror = { workspace = true }
tiny-gradient = { version = "0.1.0" }
tokio = { workspace = true, default-features = false, features = ["time", "sync"]}
tokio-stream = { workspace = true, features = ["sync"] }
tokio-util = { workspace = true, features = ["net"] }
toml = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }
typed-builder = { workspace = true }
ulid = { workspace = true }
xxhash-rust = { workspace = true, features = ["xxh3"] }

[dev-dependencies]
restate-types = {path = ".", default-features = false, features = ["test-util"]}
restate-test-util = { workspace = true }

criterion = { workspace = true, features = ["async_tokio"] }
futures = { workspace = true }
tempfile = { workspace = true }
googletest = { workspace = true }
rand = { workspace = true }
test-log = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }

[build-dependencies]
prost-build = { workspace = true }
prettyplease = "0.2"
schemars = { workspace = true }
serde_json = { workspace = true }
syn = "2.0"
typify = { version = "0.4.1" }
jsonptr = "0.7.1"

[[bench]]
name = "network_serialization"
harness = false

[[bench]]
name = "id_encoding"
harness = false
