[package]
name = "xtask"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
restate-admin = { workspace = true, features = ["options_schema", "memory-loglet"] }
restate-bifrost = { workspace = true, features = ["test-util"] }
restate-core = { workspace = true, features = ["test-util"] }
restate-metadata-server = { workspace = true }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["discovery"]}
restate-datafusion = { workspace = true, features = ["table_docs"] }
restate-types = { workspace = true, features = ["schemars"] }
restate-worker = { workspace = true, features = ["options_schema"] }

anyhow = { workspace = true }
reqwest = { version = "0.12.5", default-features = false, features = ["rustls-tls"] }
schemars = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
workspace-hack = { version = "0.1", path = "../../workspace-hack" }
