[package]
name = "xtask"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
restate-admin = { workspace = true, features = ["options_schema"] }
restate-bifrost = { workspace = true, features = ["options_schema"] }
restate-core = { workspace = true, features = ["test-util"] }
restate-meta = { workspace = true }
restate-node-services = { workspace = true }
restate-schema-api = { workspace = true, features = ["subscription"] }
restate-server = { workspace = true, features = ["options_schema"] }
restate-types = { workspace = true }
restate-worker-api = { workspace = true }

anyhow = { workspace = true }
drain = { workspace = true }
reqwest = { version = "0.11.16", default-features = false, features = ["rustls-tls"] }
schemars = { workspace = true }
serde_json = { workspace = true }
serde_yaml = "0.9"
tokio = { workspace = true }
tonic = { workspace = true }
