[package]
name = "xtask"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
restate-admin = { workspace = true, features = ["options_schema"] }
restate-core = { workspace = true, features = ["test-util"] }
restate-ingestion-client = { workspace = true }
restate-metadata-server = { workspace = true }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["discovery"]}
restate-storage-query-datafusion = { workspace = true, features = ["table_docs"] }
restate-types = { workspace = true, features = ["schemars"] }
restate-worker = { workspace = true, features = ["options_schema"] }

anyhow = { workspace = true }
reqwest = { workspace = true, default-features = false, features = ["rustls-tls"] }
schemars = { workspace = true }
serde_json = { workspace = true }
tempfile = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
restate-workspace-hack = { workspace = true }
