[package]
name = "xtask"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
restate-admin = { workspace = true, features = ["options_schema"] }
restate-bifrost = { workspace = true, features = ["options_schema", "test-util"] }
restate-core = { workspace = true, features = ["test-util"] }
restate-metadata-store = { workspace = true, features = ["test-util"] }
restate-service-client = { workspace = true }
restate-service-protocol = { workspace = true, features = ["discovery"]}
restate-types = { workspace = true, features = ["schemars"] }
restate-worker = { workspace = true, features = ["options_schema"] }

anyhow = { workspace = true }
reqwest = { version = "0.11.16", default-features = false, features = ["rustls-tls"] }
schemars = { workspace = true }
serde_json = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true }
