[package]
name = "codederror-derive"
version = "0.1.0"
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[lib]
proc-macro = true

[dependencies]
proc-macro2 = { workspace = true }
quote = { workspace = true }
# todo replace with syn 2.0
syn = { version = "1.0" }

restate-workspace-hack = { workspace = true }