[package]
name = "restate-service-client"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = ["dep:schemars", "restate-types/schemars"]

[dependencies]
arc-swap = { workspace = true }
aws-config = { workspace = true }
aws-credential-types = { workspace = true }
aws-sdk-lambda = {version = "1.36.0", default-features = false, features = ["rt-tokio"]}
aws-sdk-sts = {version = "1.35.0", default-features = false, features = ["rt-tokio"]}
base64 = { workspace = true }
bs58 = { version = "0.5.0" }
bytes = { workspace = true }
bytestring = { workspace = true }
derive_builder = { workspace = true }
futures = { workspace = true }
h2 = "0.4.5"
http = { workspace = true }
http-body-util = { workspace = true }
http-serde = { workspace = true }
humantime = { workspace = true }
hyper = { workspace = true, features = ["http1", "http2", "client"] }
hyper-rustls = { workspace = true }
hyper-util = { workspace = true, features = ["client-legacy"] }
jsonwebtoken = { version = "9.1.0" }
parking_lot = { workspace = true }
pem = { version = "3.0.3" }
restate-types = { workspace = true }
ring = { version = "0.17.8" }
rustls = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }
tower = { workspace = true }
tower-service = { version = "0.3" }
tracing = { workspace = true }

# dependencies for aws_hyper_client.rs until the aws hyper 1.0 connector supports setting nodelay...
aws-smithy-async = {version = "1.2.1", default-features = false}
aws-smithy-runtime = {version = "1.6.2", default-features = false}
aws-smithy-runtime-api = {version = "1.7.1", default-features = false}
aws-smithy-types = { version = "1.2.0", default-features = false}
pin-project-lite = { workspace = true }

[dev-dependencies]
tempfile = { workspace = true }
