[package]
name = "restate-service-client"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []
options_schema = ["dep:schemars", "restate-types/serde_schema"]

[dependencies]
restate-schema-api = { workspace = true }
restate-types = { workspace = true }

derive_builder = { workspace = true }
schemars = { workspace = true, optional = true }

arc-swap = { workspace = true }
base64 = { workspace = true }
bytestring = { workspace = true }
futures = { workspace = true }
http-serde = "1.1.2"
humantime = { workspace = true }
hyper = { workspace = true }
hyper-rustls = { workspace = true }
once_cell = { workspace = true }
rustls = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
thiserror = { workspace = true }

aws-config = { version = "0.100.0", features = ["sso"] }
aws-credential-types = "0.58.0"
aws-sdk-lambda = "0.37.0"
aws-sdk-sts = "0.37.0"
aws-smithy-runtime = "0.58.0"
