[package]
name = "restate-wal-protocol"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = ["serde"]
serde = ["dep:serde", "enum-map/serde", "bytestring/serde", "restate-invoker-api/serde", "restate-storage-api/serde"]
options_schema = ["dep:schemars"]

[dependencies]
restate-bifrost = { workspace = true }
restate-core = { workspace = true }
restate-invoker-api = { workspace = true }
restate-storage-api = { workspace = true }
restate-types = { workspace = true }

anyhow = { workspace = true }
async-trait = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
codederror = { workspace = true }
derive_builder = { workspace = true }
derive_more = { workspace = true }
enum-map = { workspace = true }
flexbuffers = {  workspace = true }
once_cell = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true }
static_assertions = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }


[dev-dependencies]
restate-test-util = { workspace = true }

googletest = { workspace = true }
tracing-subscriber = { workspace = true }
tokio = { workspace = true, features = ["test-util"] }
assert2 = { workspace = true }
