[package]
name = "restate-wal-protocol"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = ["serde"]
serde = ["dep:serde", "enum-map/serde", "bytestring/serde", "restate-invoker-api/serde"]

[dependencies]
restate-workspace-hack = { workspace = true }
restate-invoker-api = { workspace = true }
restate-storage-api = { workspace = true }
restate-types = { workspace = true }

anyhow = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
bilrost = { workspace = true }
derive_more = { workspace = true }
enum-map = { workspace = true }
serde = { workspace = true, optional = true }
strum = { workspace = true }
prost = { workspace = true }
thiserror = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]