[package]
name = "restate-wal-protocol"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[dependencies]
restate-workspace-hack = { workspace = true }

restate-invoker-api = { workspace = true, features = ["serde"] }
restate-storage-api = { workspace = true }
restate-types = { workspace = true }

bytes = { workspace = true }
bilrost = { workspace = true }
serde = { workspace = true }
serde_with = { workspace = true }
strum = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]