---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "restate.fullname" . }}
  labels:
    {{- include "restate.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: 9070
      name: admin
    - port: 8080
      name: ingress
    - port: 9071
      name: storage
    - port: 5122
      name: metrics
  selector:
    app: {{ include "restate.fullname" . }}
