[package]
name = "common"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
bytes = { workspace = true }
bytestring = { workspace = true }
serde = { workspace = true }
uuid = { workspace = true }
opentelemetry_api = { workspace = true }
tokio = { workspace = true, default-features = false, features = ["time"]}
xxhash-rust = { version = "0.8", features = ["xxh3"] }