[package]
name = "restate-storage-api"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
test-util = []

[dependencies]
workspace-hack = { version = "0.1", path = "../../workspace-hack" }

restate-types = { workspace = true }

anyhow = { workspace = true }
bytes = { workspace = true }
bytestring = { workspace = true }
derive_more = { workspace = true }
futures-util = { workspace = true }
serde = { workspace = true }
strum = { workspace = true }
thiserror = { workspace = true }
