[package]
name = "restate-tracing-instrumentation"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []

options_schema = ["dep:schemars"]
rt-tokio = ["dep:tokio"]

[dependencies]
console-subscriber = { version = "0.2.0", optional = true }
derive_builder = { workspace = true }
nu-ansi-term = "0.46.0"
once_cell = { workspace = true }
opentelemetry = { workspace = true, features = ["rt-tokio"] }
opentelemetry-contrib = { version = "0.12.0", features = ["jaeger_json_exporter", "rt-tokio"] }
opentelemetry-otlp = { version = "0.13.0" }
opentelemetry-semantic-conventions = "0.12.0"
schemars = { workspace = true, optional = true }
serde = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true, optional = true }
tracing = { workspace = true }
tracing-opentelemetry = { workspace = true }
tracing-subscriber = { workspace = true, features = ["json"] }
metrics-tracing-context = { version = "0.15.0" }

[dev-dependencies]
tokio = { workspace = true }
