[package]
name = "restate-memory"
version.workspace = true
authors.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
publish = false

[features]
default = []

[dependencies]
restate-workspace-hack = { workspace = true }

restate-serde-util = { workspace = true }

bytes = { workspace = true }
tokio = { workspace = true, features = ["sync"] }
tracing = { workspace = true }
triomphe = { workspace = true }

[dev-dependencies]
tokio = { workspace = true, features = ["rt", "macros"] }
