name: CI

on:
  pull_request:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  lint-build-and-test:
    name: Lint, build and test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        #os: [ubuntu-latest, macos-latest] # 1 macos-latest minute counts as 10 minutes --> quite expensive :-(
        os: [ubuntu-latest]
    env:
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v3

      # Install the nighly toolchain for rustfmt
      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nighly
          profile: minimal
          components: rustfmt

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          default: true

      - name: Install protoc
        uses: ./.github/actions/install-protoc

      - name: Setup just
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Run fmt
        run: just check-fmt

      - name: Run clippy
        run: just clippy

      - name: Run tests
        run: just test