name: CI

on:
  pull_request:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  lint-build-and-test:
    name: Lint, build and test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: read
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        #os: [ubuntu-22.04, macos-latest] # 1 macos-latest minute counts as 10 minutes --> quite expensive :-(
        os: [ubuntu-22.04]
    env:
      RUST_BACKTRACE: full
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    services:
      verifier:
        image: ghcr.io/restatedev/e2e-node-services:latest
        env:
          SERVICES: interpreter.CommandInterpreter,verifier.CommandVerifier
        ports:
          - "8080:8080"
        options: >-
          --health-cmd "curl --http2-prior-knowledge 127.0.0.1:8080/health"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/clean-runner

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          # need to provide a toolchain version because this action cannot read rust-toolchain.toml. See https://github.com/actions-rs/toolchain/issues/126
          toolchain: stable

      - name: Install protoc
        uses: ./.github/actions/install-protoc

      - name: Setup just
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Run fmt
        run: just check-fmt

      - name: Run clippy
        run: just clippy

      - name: Run tests
        run: just test

      - name: Run verification test
        run: just verification-test $${{ github.run_id }}
        env:
          TMPDIR: ${{ runner.temp }}
          RUST_LOG: "info"

      - uses: actions/upload-artifact@v3
        if: ${{ runner.os == 'Linux' && runner.arch	== 'X64' }}
        with:
          name: restate
          path: target/debug/restate
          retention-days: 1
          if-no-files-found: error
