name: CI

on:
  pull_request:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  lint-build-and-test:
    name: Lint, build and test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        #os: [ubuntu-latest, macos-latest] # 1 macos-latest minute counts as 10 minutes --> quite expensive :-(
        os: [ubuntu-latest]
    env:
      RUST_BACKTRACE: full
      SCCACHE_GHA_ENABLED: "true"
      RUSTC_WRAPPER: "sccache"
    services:
      verifier:
        image: ghcr.io/restatedev/restate-verification:latest
        ports:
          - "8000:8000"
        options: >-
          --health-cmd "curl --http2-prior-knowledge 127.0.0.1:8000/health"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - name: Check disk space
        run: df -h

      - name: Remove unnecessary software
        run: |
          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/local/lib/android
          sudo rm -rf /usr/local/.ghcup
          
      - name: Check disk space
        run: df -h

      - uses: actions/checkout@v3

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          # need to provide a toolchain version because this action cannot read rust-toolchain.toml. See https://github.com/actions-rs/toolchain/issues/126
          toolchain: stable

      - name: Install protoc
        uses: ./.github/actions/install-protoc

      - name: Setup just
        uses: extractions/setup-just@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check disk space
        run: df -h

      - name: Run sccache-cache
        uses: mozilla-actions/sccache-action@v0.0.3

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2

      - name: Check disk space
        run: df -h

      - name: Check working space directory
        continue-on-error: true
        run: du / -h -t 100M 2>/dev/null

      - name: Run fmt
        run: just check-fmt

      - name: Run clippy
        run: just clippy

      - name: Check disk space
        run: df -h

      - name: Check working space directory
        continue-on-error: true
        run: du / -h -t 100M 2>/dev/null

      - name: Run tests
        run: just test

      - name: Check disk space
        run: df -h

      - name: Check working space directory
        continue-on-error: true
        run: du / -h -t 100M 2>/dev/null

      - name: Run verification test
        run: just verification-test
        env:
          TMPDIR: ${{ runner.temp }}
          RUST_LOG: "info"

      - name: Check disk space
        run: df -h

      - name: Check working space directory
        continue-on-error: true
        run: du / -h -t 100M 2>/dev/null
