name: Check dependencies

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    paths:
      - justfile
      - Cargo.lock
      - deny.toml
      - .github/workflows/deps.yml

jobs:
  advisories:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v3
    - uses: EmbarkStudios/cargo-deny-action@v1
      with:
        command: check advisories

  bans:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: EmbarkStudios/cargo-deny-action@v1
      with:
        command: check bans licenses sources