name: Cargo hack clippy

permissions:
  contents: read

on:
  schedule:
    - cron: "0 0 * * *"

jobs:
  hack-clippy:
    if: github.repository == 'restatedev/restate'
    name: Build and test (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      packages: read
    timeout-minutes: 45
    strategy:
      fail-fast: false
      matrix:
        os: [warp-ubuntu-latest-x64-16x]
    env:
      RUST_BACKTRACE: full
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy
          rustflags: ""

      - name: Install cargo-hakari and cargo-hack
        uses: taiki-e/install-action@v2
        with:
          tool: cargo-hakari,cargo-hack

      - name: Disable hakari
        run: cargo hakari disable

      - name: Install protoc
        uses: ./.github/actions/install-protoc

      - name: Install nextest
        uses: taiki-e/install-action@v2
        with:
          tool: nextest@0.9.98

      - name: Setup just
        uses: extractions/setup-just@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Check Cargo.lock file is updated
        run: cargo update -w --locked

      - name: Run verify
        run: just hack-clippy
