name: Publish npm binary packages

on:
  workflow_call:
    inputs:
      version:
        description: 'version to label npm packages'
        required: true
        type: string

jobs:
  publish-npm-binaries:
    permissions:
      contents: read
      packages: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        build:
          - target: aarch64-apple-darwin
            node_arch: arm64
            node_os: darwin
          - target: x86_64-apple-darwin
            node_arch: x64
            node_os: darwin
          - target: x86_64-unknown-linux-musl
            node_arch: x64
            node_os: linux
          - target: aarch64-unknown-linux-musl
            node_arch: arm64
            node_os: linux
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: 'https://registry.npmjs.org'

      - name: Download binary build from in-progress workflow
        uses: actions/download-artifact@v3
        with:
          name: restate.${{ matrix.build.target }}.tar.gz

      - name: Extract binaries
        run: tar -xvzf restate.${{ matrix.build.target }}.tar.gz

      - name: Publish to NPM
        shell: bash
        run: |
          cd npm
          for bin in restate restate-server
          do
            export node_os="${{ matrix.build.node_os }}"
            export node_os
            node_arch="${{ matrix.build.node_arch }}"
            export node_arch
            # set the version
            node_version="${{ inputs.version }}"
            node_version="${node_version#v}"
            export node_version
            # set the package name
            export node_pkg="${bin}-${node_os}-${node_arch}"
            if npm view "@restatedev/${node_pkg}@${node_version}"
            then
              continue
            fi
            # create the package directory
            mkdir -p "${node_pkg}/bin"
            # generate package.json from the template
            envsubst < package.json.tmpl > "${node_pkg}/package.json"
            # copy the binary into the package
            cp "../${bin}" "${node_pkg}/bin"
            cp ../NOTICE "${node_pkg}"
            cp ../LICENSE "${node_pkg}"
            cp ../README.md "${node_pkg}"
            # publish the package
            pushd "${node_pkg}"
            npm publish --access public
            popd
          done
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}

  publish-npm-base:
    needs: publish-npm-binaries
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: 'https://registry.npmjs.org'

      - name: Publish to npm
        shell: bash
        run: |
          node_version="${{ inputs.version }}"
          node_version="${node_version#v}"
          cd npm
          for bin in restate restate-server
          do
            if npm view "@restatedev/${bin}@${node_version}"
            then
              continue
            fi
            pushd "${bin}"
            sed -i "s/\"version\": \".*\",/\"version\": \"${node_version}\",/" package.json
            curl https://raw.githubusercontent.com/restatedev/restate/main/README.md -o README.md
            npm install
            npm run build
            npm publish --access public
            popd
          done
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
