name: Create new release

on:
  push:
    tags:
      - v**

jobs:
  verify-version:
    name: Verify version
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dasel
        run: |
          curl -s https://api.github.com/repos/tomwright/dasel/releases/latest | \
          grep browser_download_url | \
          grep linux_amd64 | \
          cut -d '"' -f 4 | \
          wget -qi - && \
          mv dasel_linux_amd64 dasel && \
          chmod +x dasel && \
          ./dasel --version

      - name: Verify version
        run: |
          # write yaml to remove quotes
          version=$(./dasel --file Cargo.toml --read toml 'workspace.package.version' --write yaml)
          tag_version=${{ github.ref_name }}
          tag_version=${tag_version#v}
          if [ ${tag_version} != ${version} ]; then
            echo "::error file=release.yml,line=28::Cargo.toml version '${version}' is not equal to tag version '${tag_version}'. Please align them."
            exit 1;
          fi

  run-tests:
    name: Test release
    needs: [verify-version]
    uses: ./.github/workflows/ci.yml

  build-docker-image:
    name: Build release Docker image
    needs: [run-tests]
    uses: ./.github/workflows/docker.yml

  build-cli-binaries:
    name: Build release cli binaries
    needs: [run-tests]
    uses: ./.github/workflows/cli.yml

  create-release:
    name: Create release
    runs-on: ubuntu-latest
    needs: [build-docker-image, build-cli-binaries]

    steps:
      - name: Download cli binaries
        uses: actions/download-artifact@v3

      - name: Package cli binaries
        id: package-cli-binaries
        run: |
          binaries_exist=false
          for cli in restate-cli-*; 
          do
            [ -e "$cli" ] || continue
            zip -j ${cli}.zip ${cli}/restate-cli;
            binaries_exist=true
          done
      
          if [ "$binaries_exist" = true ]; then 
            echo "PACKAGES<<EOF" >> $GITHUB_OUTPUT
            ls -1 restate-cli-*.zip >> $GITHUB_OUTPUT || true
            echo "EOF" >> $GITHUB_OUTPUT
          fi

      - name: Create release
        uses: softprops/action-gh-release@v1
        with:
          # create a draft release which needs manual approval
          draft: true
          files: ${{ steps.package-cli-binaries.outputs.PACKAGES }}
            
