{
  "name": "@restatedev/${node_pkg}",
  "version": "${node_version}",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/restatedev/restate.git"
  },
  "publishConfig": {
    "@restatedev:registry": "https://registry.npmjs.org"
  },
  "author": "Restate Developers",
  "license": "BSL",
  "email": "code@restate.dev",
  "homepage": "https://github.com/restatedev/restate#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}
